# Discord Bot
OWNER_ID=
TOKEN=
CLIENT_ID=
GUILD_ID=
TEST_GUILD_ID=

# Roles
BUMP_ROLE_ID=
VERIFIED_ROLE_ID=

# Learner Roles
EN_LEARNER_ROLE_ID=
JP_LEARNER_ROLE_ID=
ENJA_LEARNER_ROLE_ID=

# Channels
VOICE_CATEGORY_ID=
BUMP_CHANNEL_ID=
INTRO_CHANNEL_ID=
VOICE_LOG_CHANNEL_ID=
LEAVE_CHANNEL_ID=
CONFESSIONS_CHANNEL_ID=

# Exaroton (Minecraft)
SERVER_ID=
API_TOKEN=

# Database
DATABASE_URL=